/** Custom general style **/
.navbar-nav > li > a, .dropdown-menu > li > a{
	border-radius:15px;
}

.breadcrumb li a {
    border-radius:15px;
}
.impact_img svg {
	background-color:${webleger.site.style.color};
	color:${webleger.site.style.background.color};
}
.primary .impact_img svg {
	background-color:${webleger.site.style.primary.highlight.color};
}

#preHeader_blocks {
	display: flex;
	flex-direction: column-reverse;
	align-items: start;
}
#preHeader .blockContent {
	padding: 0;
	margin-left: 12px;
}
#preHeader .blockContent > p{
	margin : 0px;
}
#preHeader .blockIcon{
	width: auto;
	height:auto;
}

.Documentation table th {
	min-width: 80px;
	color: hsl(150,30%,15%);
	text-align:center;
}
code {
	white-space: normal !important;
}

.pageContent h1, .pageContent h2, .pageContent h3, .pageContent h4, .pageContent h5, 
.pageContent h6, .pageContent h7, .pageContent h8, .pageContent h9, .pageContent h10, 
#footer_blocks .blockTitle {
	color: hsl(150,30%,15%);
}

.actualitees .content_tags {
     display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-right: 10px;
}

.actualitees .content_tags li {
	list-style-type: none;
	background-color:${webleger.site.style.discret.background.color};
	color: initial;
	border: 1px solid ${webleger.site.style.primary.background.color};
	border-radius: 12px;
	padding: 3px;
	margin-top: 5px;
}

#footer_blocks .block {
	text-align:left;
}
#footer_blocks .blockBody {
	flex-direction: row;
}


.pageContent .documentation .title{
	font-size:x-large;
	color:hsl(150,30%,15%);
	margin-top:12px;
}

@media screen and (min-width: 640px) {
	#footer_blocks .block {
		width:31%;
	}
	#preHeader_blocks {
		flex-direction: row-reverse;
		justify-content: flex-start;
		gap:30px;
	}
	.preHeader .blockContent {
		margin-left: 25px;
	}
	.documentation .card {
		width:31%;
		text-align:center;
	}
	
}
