
.caret {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent
}

.dropdown {
	position: relative
}

.dropdown-toggle:focus {
	outline: 0
}

.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	background-color: ${webleger.site.style.background.color};
	color:${webleger.site.style.color};
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	background-clip: padding-box
}

.dropdown-menu.pull-right {
	right: 0;
	left: auto
}

.dropdown-menu .divider {
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5
}

.dropdown-menu>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: ${webleger.site.style.color};
	white-space: nowrap
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
	text-decoration: none;
	color: ${webleger.site.style.primary.color};
	background-color: ${webleger.site.style.primary.background.color}
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
	color: ${webleger.site.style.primary.color};
	text-decoration: none;
	outline: 0;
	background-color: ${webleger.site.style.primary.background.color}
}

.dropdown-menu>.disabled>a,
.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus {
	color: ${webleger.site.style.primary.disabled.color};
	background-color:${webleger.site.style.primary.disabled.background.color}
}

.dropdown-menu>.disabled>a:hover,
.dropdown-menu>.disabled>a:focus {
	text-decoration: none;
	background-color: transparent;
	background-image: none;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	cursor: not-allowed
}

.open>.dropdown-menu {
	display: block
}

.open>a {
	outline: 0
}

.dropdown-menu-right {
	left: auto;
	right: 0
}

.dropdown-menu-left {
	left: 0;
	right: auto
}

.dropdown-header {
	display: block;
	padding: 3px 20px;
	font-size: 12px;
	line-height: 1.42857143;
	color: #999
}

.dropdown-backdrop {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 990
}

.pull-right>.dropdown-menu {
	right: 0;
	left: auto
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
	border-top: 0;
	border-bottom: 4px solid;
	content: ""
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
	top: auto;
	bottom: 100%;
	margin-bottom: 1px
}

@media (min-width:768px) {
	.navbar-right .dropdown-menu {
		left: auto;
		right: 0
	}

	.navbar-right .dropdown-menu-left {
		left: 0;
		right: auto
	}
}


.primary .dropdown-menu {
	background-color: ${webleger.site.style.primary.background.color};
	color:${webleger.site.style.primary.color}
}

.primary open .caret {
	color:${webleger.site.style.primary.background.color}
}

.primary .dropdown-menu>li>a {
	color: ${webleger.site.style.primary.color};
}
.primary .dropdown-menu>li>a:hover,
.primary .dropdown-menu>li>a:focus {
	color: ${webleger.site.style.color};
	background-color: ${webleger.site.style.background.color}
}

.primary .dropdown-menu>.active>a,
.primary .dropdown-menu>.active>a:hover,
.primary .dropdown-menu>.active>a:focus {
	color: ${webleger.site.style.color};
	background-color: ${webleger.site.style.background.color}
}
.primary .dropdown-menu>.disabled>a,
.primary .dropdown-menu>.disabled>a:hover,
.primary .dropdown-menu>.disabled>a:focus {
	color: ${webleger.site.style.primary.disabled.color};
	background-color:${webleger.site.style.primary.disabled.color}
}


.secondary .dropdown-menu {
	background-color: ${webleger.site.style.secondary.background.color};
	color:${webleger.site.style.secondary.color}
}

.secondary open .caret {
	color:${webleger.site.style.secondary.background.color}
}

.secondary .dropdown-menu>li>a {
	color: ${webleger.site.style.secondary.color};
}
.secondary .dropdown-menu>li>a:hover,
.secondary .dropdown-menu>li>a:focus {
	color: ${webleger.site.style.color};
	background-color: ${webleger.site.style.background.color}
}

.secondary .dropdown-menu>.active>a,
.secondary .dropdown-menu>.active>a:hover,
.secondary .dropdown-menu>.active>a:focus {
	color: ${webleger.site.style.color};
	background-color: ${webleger.site.style.background.color}
}
.secondary .dropdown-menu>.disabled>a,
.secondary .dropdown-menu>.disabled>a:hover,
.secondary .dropdown-menu>.disabled>a:focus {
	color: ${webleger.site.style.secondary.disabled.color};
	background-color:${webleger.site.style.secondary.disabled.color}
}