span[data-obfuscatedkey] {
	border: 2px solid white;
    border-radius: 21px;
    border-width: medium;
    background-color: rgb(255, 255, 255, 0.5);
    line-height: 30px;
    padding: 3px 5px;
}